<%- contentFor('HeaderCss') %>
  <%- contentFor('body') %>
    <div class="auth-page-wrapper pt-5">
      <!-- auth page bg -->
      <div class="auth-one-bg-position auth-one-bg" id="auth-particles">
        <div class="bg-overlay"></div>

        <div class="shape">
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 1440 120">
            <path d="M 0,36 C 144,53.6 432,123.2 720,124 C 1008,124.8 1296,56.8 1440,40L1440 140L0 140z">
            </path>
          </svg>
        </div>
      </div>

      <!-- auth page content -->
      <div class="auth-page-content">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-center mt-sm-5 mb-4 text-white-50">
                <div>
                  <a href="index" class="d-inline-block auth-logo">
                    <img src="assets/images/logo-light.png" alt="" height="20">
                  </a>
                </div>
                <p class="mt-3 fs-15 fw-medium">Premium Admin & Dashboard Template</p>
              </div>
            </div>
          </div>
          <!-- end row -->

          <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
              <div class="card mt-4">

                <div class="card-body p-4">
                  <div class="text-center mt-2">
                    <h5 class="text-primary">Create New Account</h5>
                    <p class="text-muted">Get your free velzon account now</p>
                  </div>
                  <div class="p-2 mt-4">
                    <form class="form needs-validation" novalidate>

                      <div class="mb-3">
                        <label for="fname" class="form-label">First Name <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="fname" placeholder="Enter your first name" required>
                        <div class="invalid-feedback">
                          Please enter your first name
                        </div>
                      </div>
                      <div class="mb-3">
                        <label for="lname" class="form-label">Last Name <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="lname" placeholder="Enter your last name" required>
                        <div class="invalid-feedback">
                          Please enter your last name
                        </div>
                      </div>
                      <div class="mb-3">
                        <label for="useremail" class="form-label">Email <span class="text-danger">*</span></label>
                        <input type="email" class="form-control" id="useremail" placeholder="Enter email address"
                          required>
                        <div class="invalid-feedback">
                          Please enter email
                        </div>
                      </div>
                      <div class="mb-3">
                        <label for="username" class="form-label">Username <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="username" placeholder="Enter your username"
                          required>
                        <div class="invalid-feedback">
                          Please enter your username
                        </div>
                      </div>

                      <div class="mb-3">
                        <label class="form-label" for="password-input">Password</label>
                        <div class="position-relative auth-pass-inputgroup">
                          <input type="password" class="form-control pe-5 password-input" onpaste="return false"
                            placeholder="Enter password" id="password-input" aria-describedby="passwordInput"
                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                          <button
                            class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon"
                            type="button" id="password-addon"><i class="ri-eye-fill align-middle"></i></button>
                          <div class="invalid-feedback">
                            Please enter password
                          </div>
                        </div>
                      </div>

                      <div class="mb-2">
                        <label for="userpasswordconf" class="form-label">Password Confirm <span
                            class="text-danger">*</span></label>
                        <div class="position-relative auth-pass-inputgroup">
                          <input type="password" class="form-control" id="userpasswordconf"
                            placeholder="Enter password again" required>
                          <button
                            class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon"
                            type="button" id="password-addon-conf"><i class="ri-eye-fill align-middle"></i></button>
                          <div class="invalid-feedback">
                            Please enter confirmation password
                          </div>
                        </div>
                      </div>

                      <div class="mb-2">
                        <label for="contact" class="form-label">User Contact Number <span
                            class="text-danger">*</span></label>
                        <input type="number" class="form-control" id="contact"
                          placeholder="Enter the user contact number" required>
                        <div class="invalid-feedback">
                          Please enter the user contact number
                        </div>
                      </div>
                      <!-- User address -->
                      <div class="mb-2">
                        <label for="userStreet" class="form-label">User Street<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="userStreet" placeholder="Enter the User  Street"
                          required>
                        <div class="invalid-feedback">
                          Please enter the user street
                        </div>
                      </div>
                      <div class="mb-2">
                        <label for="userCity" class="form-label">User City<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="userCity" placeholder="Enter the User City"
                          required>
                        <div class="invalid-feedback">
                          Please enter the user city
                        </div>
                      </div>
                      <div class="mb-2">
                        <label for="userState" class="form-label">User State<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="userState" placeholder="Enter the User State"
                          required>
                        <div class="invalid-feedback">
                          Please enter the user state
                        </div>
                      </div>
                      <div class="mb-2">
                        <label for="userZip" class="form-label">User Zip<span class="text-danger">*</span></label>
                        <input type="number" class="form-control" id="userZip" placeholder="Enter the User Zip Code"
                          required>
                        <div class="invalid-feedback">
                          Please enter the user zip code
                        </div>
                      </div>
                      <div class="mb-2">
                        <label for="userCountry" class="form-label">User Country<span
                            class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="userCountry" placeholder="Enter the User  Country"
                          required>
                        <div class="invalid-feedback">
                          Please enter the user country
                        </div>
                      </div>
                      <div class="mb-2">
                        <label for="userPostal" class="form-label">User Postal Code<span
                            class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="userPostal"
                          placeholder="Enter the User  Postal code" required>
                        <div class="invalid-feedback">
                          Please enter the user postal code
                        </div>
                      </div>
                      <!-- create a radio button with choices "employee" or "customer" -->
                      <div class="mb-2 d-flex gap-4">
                        <label class="form-check-label mr-3">Employee
                          <input class="form-check-input mr-2 ml-3" type="radio" name="user-type" value="employee"
                            checked>
                        </label>
                        <label class="form-check-label mr-3">Customer
                          <input class="form-check-input" type="radio" name="user-type" value="customer">
                        </label>
                      </div>
                      <hr>

                      <div class="mb-2">
                        <label for="gymName" class="form-label">Gym Name <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="gymName" placeholder="Enter the Gym Name" required>
                        <div class="invalid-feedback">
                          Please enter the gym name
                        </div>
                      </div>
                      <div class="mb-2">
                        <label for="gymStreet" class="form-label">Gym Street<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="gymStreet" placeholder="Enter the Gym Street"
                          required>
                        <div class="invalid-feedback">
                          Please enter the gym street
                        </div>
                      </div>
                      <div class="mb-2">
                        <label for="gymCity" class="form-label">Gym City<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="gymCity" placeholder="Enter the Gym City" required>
                        <div class="invalid-feedback">
                          Please enter the gym city
                        </div>
                      </div>
                      <div class="mb-2">
                        <label for="gymState" class="form-label">Gym State<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="gymState" placeholder="Enter the Gym State"
                          required>
                        <div class="invalid-feedback">
                          Please enter the gym state
                        </div>
                      </div>
                      <div class="mb-2">
                        <label for="gymZip" class="form-label">Gym Zip<span class="text-danger">*</span></label>
                        <input type="number" class="form-control" id="gymZip" placeholder="Enter the Gym Zip Code"
                          required>
                        <div class="invalid-feedback">
                          Please enter the gym zip code
                        </div>
                      </div>
                      <div class="mb-2">
                        <label for="gymCountry" class="form-label">Gym Country<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="gymCountry" placeholder="Enter the Gym Country"
                          required>
                        <div class="invalid-feedback">
                          Please enter the gym country
                        </div>
                      </div>
                      <div class="mb-2">
                        <label for="gymPostal" class="form-label">Gym Postal Code<span
                            class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="gymPostal" placeholder="Enter the Gym Postal code"
                          required>
                        <div class="invalid-feedback">
                          Please enter the gym postal code
                        </div>
                      </div>
                      <div class="mb-2">
                        <label for="gymPhone" class="form-label">Gym Contact Number <span
                            class="text-danger">*</span></label>
                        <input type="number" class="form-control" id="gymPhone"
                          placeholder="Enter the Gym contact number" required>
                        <div class="invalid-feedback">
                          Please enter the gym contact number
                        </div>
                      </div>

                      <div class="mb-4">
                        <p class="mb-0 fs-13 text-muted fst-italic">By registering you agree
                          to
                          the Velzon <a href="javascript:void(0);"
                            class="text-primary text-decoration-underline fst-normal fw-semibold">Terms
                            of Use</a></p>
                      </div>

                      <div id="password-contain" class="p-3 bg-light mb-2 rounded">
                        <h5 class="fs-13">Password must contain:</h5>
                        <p id="pass-length" class="invalid fs-12 mb-2">Minimum <b>8
                            characters</b></p>
                        <p id="pass-lower" class="invalid fs-12 mb-2">At <b>lowercase</b> letter
                          (a-z)
                        </p>
                        <p id="pass-upper" class="invalid fs-12 mb-2">At least <b>uppercase</b>
                          letter
                          (A-Z)</p>
                        <p id="pass-number" class="invalid fs-12 mb-0">A least <b>number</b>
                          (0-9)</p>
                      </div>

                      <div class="mt-4">
                        <button class="btn btn-success w-100" type="submit">Sign Up</button>
                      </div>

                      <div class="mt-4 text-center">
                        <div class="signin-other-title">
                          <h5 class="fs-14 mb-4 title text-muted">Create account with</h5>
                        </div>

                        <div>
                          <button type="button" class="btn btn-primary btn-icon waves-effect waves-light"><i
                              class="ri-facebook-fill fs-16"></i></button>
                          <button type="button" class="btn btn-danger btn-icon waves-effect waves-light"><i
                              class="ri-google-fill fs-16"></i></button>
                          <button type="button" class="btn btn-dark btn-icon waves-effect waves-light"><i
                              class="ri-github-fill fs-16"></i></button>
                          <button type="button" class="btn btn-info btn-icon waves-effect waves-light"><i
                              class="ri-twitter-fill fs-16"></i></button>
                        </div>
                      </div>
                    </form>

                  </div>
                </div>
                <!-- end card body -->
              </div>
              <!-- end card -->

              <div class="mt-4 text-center">
                <p class="mb-0">Already have an account ? <a href="auth-signin-basic"
                    class="fw-semibold text-primary text-decoration-underline"> Signin </a> </p>
              </div>

            </div>
          </div>
          <!-- end row -->
        </div>
        <!-- end container -->
      </div>
      <!-- end auth page content -->

      <!-- footer -->
      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-center">
                <p class="mb-0 text-muted">&copy;
                  <script>
                    document.write(new Date().getFullYear())
                  </script> Velzon. Crafted with <i class="mdi mdi-heart text-danger"></i> by
                  Themesbrand
                </p>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- end Footer -->
    </div>
    <!-- end auth-page-wrapper -->
    <%- contentFor('FooterJs') %>


      <!-- particles js -->
      <script src="assets/libs/particles.js/particles.js"></script>
      <!-- particles app js -->
      <script src="assets/js/pages/particles.app.js"></script>
      <!-- validation init -->
      <script src="assets/js/pages/form-validation.init.js"></script>
      <script type="module" src="assets/js/auth/db-register.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      <script src="assets/js/pages/passowrd-create.init.js"></script>