<meta charset="utf-8" />
<title><%- page_title %> | Sweat Signal Administration</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="Sweat Signal Administration" name="description" />
<meta content="Gandy Labs" name="author" />
<!-- App favicon -->
<link rel="shortcut icon" href="assets/images/favicon.ico">